.footer {
  text-align: center;
  padding: 20px;
  background-color: #2c2b2b;
  position: relative;
}

.footer a {
  font-size: 30px;
  color:  #1EDD88;
  padding: 24px;
}

.footer a:hover {
  color: #128853;
}
